<div cdkDropList class="flex column list-wrapper" (cdkDropListDropped)="drop($event)">
	@for (player of playerList; track player) {
		<div class="flex column justify-space-between h-40px" [class.on-round]="player.onRound" cdkDrag>
			<div class="font-white player-item-wrapper flex justify-space-between">
				<span>{{ player.name }}</span>
				<mat-icon cdkDragHandle class="mover">menu</mat-icon>
			</div>
			<mat-divider></mat-divider>
		</div>
	} @empty {
		<div class="flex justify-center align-center font-white empty-list">Subject's going to appear here</div>
	}
</div>