.wrapper {
    width: 390px;
    padding: 15px;
    position: relative;

    .action-buttons {
        position: sticky;
        bottom: 0;
        height: 65px;
        background-color: #101414;
    }
}