<div class="flex justify-center align-center gap-10">
	@if (playerService.rollModeOn() && !playerService.deleteModeOn()) {
	<app-text-button [buttonType]="playerService.firstRoll() ? 'flat' : 'stroked'" color="primary" class="w-100"
		(clickFunction)="rollDices()" text="Roll Initiative"></app-text-button>
	<app-text-button [buttonType]="playerService.firstRoll() ? 'stroked' : 'flat'" color="primary" class="w-100"
		(clickFunction)="nextPlayer()" text="Next Subject"></app-text-button>
	}
	@if (playerService.deleteModeOn()) {
	<app-text-button buttonType="stroked" color="primary" class="w-100" (clickFunction)="removeSelectedPlayers()"
		text="Delete"></app-text-button>
	}
</div>